<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL-Shortener</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="form-container">
      <form class="center-form">
        <!-- The text field -->
        <input type="text" value="{{ url }}" id="urlBox" class="form-control" />

        <!-- The button used to copy the text -->
        <center>
          <button id="copyButton" class="btn btn-primary mt-3">Copy url</button>
        </center>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post-creation.js') }}"></script>
  </body>
</html>
