<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verification</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/link.png')}}"
    />
  </head>
  <body>
    <div class="form-container">
      <form class="center-form" method="POST" action="" class="center-form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <div class="alert alert-danger" role="alert">{{message}}</div>
          {% endfor %} {% endif %} {% endwith %}
          <label for="password">Password</label>
          {{ form.password(class="form-control") }}
          <small id="shortUrlHelp" class="form-text text-muted"
            >This url is protected by a password, please enter the password to
            access the link</small
          >
        </div>
        <div class="row mt-5 justify-content-center">
          {{ form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post-creation.js') }}"></script>
  </body>
</html>
